@import url('https://fonts.cdnfonts.com/css/hk-groteks');
@import url("https://fonts.cdnfonts.com/css/aloivytta");
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #090909;
  font-family: 'HK Grotesk', sans-serif;
}
::-webkit-scrollbar{
  width: 5px;

}
::-webkit-scrollbar-track{
  background-color: #0a0908;
  border-radius: 5px;
  height: 5px;
  box-shadow: inset 0 0 10px #0a0908;
}
::-webkit-scrollbar-thumb{
  background-color: red;
  border-radius: 2px;
  height: 5px;
}
.small_card{
  font-size: 25px;
  display: flex;
  flex-flow: column;
  position: absolute;
  margin: 10px 0;
  transform: translateX(-20px);
  transition: 0.3s;
  opacity: 0;
}
.card:hover .small_card{
  transform: translateX(2px);
  cursor: pointer;
  opacity: 1;
}
.swiper {
  width: 100%;
  height: 100%;
}
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  /* color: var(--swiper-theme-color); */
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.418);
  border-radius: 100%;
}
.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  /* stroke: var(--swiper-theme-color); */
  stroke: rgb(255, 30, 30);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
/* Buat class khusus untuk efek hover */
.hover-scale {
  transition: transform 0.3s ease; /* Animasi perubahan transform */
}

/* Atur transform scale saat dihover */
.hover-scale:hover {
  transform: scale(1.1); /* Membesarkan elemen 10% saat dihover */
}